body{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

*{

    text-decoration: none;
    list-style-type: none;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
header{
    display: inline-flex;
    width: 100%;
    z-index: 999;
    position: sticky;
    top: 0;
    background-color: #ee5965;

}

header nav{
    margin-left: 25%;
}
 header ul{
     display: inline-flex;
 }

 header a{
     color:  rgb(255, 255, 255);
     font-size: 13px;
     text-transform: uppercase;
     padding: 15px;
 }
 main{
     width: 100%;
     height: 90vh;
     display: flex;
     flex-direction: column;
     align-items: center;
     /* justify-content: center; */
     align-content: center;
     justify-items: center;
 }
 .bar{
    margin-top: 3%;
    width: 90%;
    height: 42px;
    background-color: black;
   display: inline-flex;
 }
 .bar h3{
     margin-top: 7px;
    margin-left: 10px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    text-transform: uppercase;
 }
 .bar a{
     margin-top: 7px;
     margin-left: 70%;
 }
 .red-btn{
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-content: center;
    justify-items: center;
    height: 20px;
    padding: 5px 10px;
    width: max-content;
    margin-top: 10px;
    border-radius: 6px;
    background-color: #ee5965;
    color: #fff;
    text-transform: uppercase;
    font-size: 14px;
}
.form-container{
    margin-top: 3%;
    width: 100%;
    margin-left: 15%;
}

.form-container form{
    display: block;
}
.form-container form *{
    margin-bottom: 10px;

}
.form-container form input:first-child,
.form-container form input:nth-child(2),
.form-container form input:nth-child(3),
.form-container form input:nth-child(4),
.form-container form input:nth-child(5),
.form-container form input:nth-child(6){
    width: 300px;
    height: 30px; 
    border: 1px solid   #ee5965;
    border-radius: 3px;  
    padding: 3px 5px; 
    margin-right: 10px;
 
}
select{
    width: 309px;
    height: 37px; 
    border: 1px solid   #ee5965;
    border-radius: 3px;  
    padding: 3px 5px; 
    margin-right: 10px;
}
::placeholder{
    color: #ee5965;
    opacity: 1;
}

.form-container form textarea{
    width: 943px;
    height: 60px;
    border: 1px solid   #ee5965;
    border-radius: 3px;  
    padding: 3px 5px;  
}
.form-grp{
    width: 100%;
    display: inline-flex;
}
.wide-btn{
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-content: center;
    justify-items: center;
    height: 20px;
    padding: 10px;
    width: 600px;
    margin-top: 10px;
    border-radius: 6px;
    background-color: #ee5965;
    color: #fff;
    text-transform: uppercase;
}
input:hover,
input:active,
textarea:hover,
textarea:active{
    border: 1px solid #ee5965;
}